duanxin.wsdl

<?xml version="1.0" ?><wsdl:definitions name="BusinessServiceService" targetNamespace="http://service.nineorange.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.nineorange.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://service.nineorange.com" xmlns="http://service.nineorange.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="taskID" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getReceiptReturn" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReceivedMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="param" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReceivedMsgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getReceivedMsgReturn" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="getUserInfoReturn" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="oldPassword" type="xs:string"></xs:element>
        <xs:element name="newPassword" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="modifyPasswordReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendBatchMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="destmobile" type="xs:string"></xs:element>
        <xs:element name="msgText" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendBatchMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sendBatchMessageReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="destmobile" type="xs:string"></xs:element>
        <xs:element name="msgText" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sendMessageReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMmsMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="phones" type="xs:string"></xs:element>
        <xs:element name="mmsString" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMmsMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sendMmsMessagesReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPersonalMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="destMobiles" type="xs:string"></xs:element>
        <xs:element name="msgContents" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendPersonalMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sendPersonalMessagesReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTimelyMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
        <xs:element name="sendDateTime" type="xs:string"></xs:element>
        <xs:element name="destmobile" type="xs:string"></xs:element>
        <xs:element name="msgText" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendTimelyMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sendTimelyMessageReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" type="xs:string"></xs:element>
        <xs:element name="password" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="validateUserReturn" type="xs:int"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="gxmt">
    <xs:sequence>
      <xs:element name="account" type="xs:string"></xs:element>
      <xs:element name="password" type="xs:string"></xs:element>
      <xs:element name="sendDateTime" type="xs:string"></xs:element>
      <xs:element name="destmobiles" type="xs:string"></xs:element>
      <xs:element name="msgTexts" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gxmtResponse">
    <xs:sequence>
      <xs:element name="gxmtReturn" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="gxmt" nillable="true" type="gxmt"></xs:element>
  <xs:element name="gxmtResponse" nillable="true" type="gxmtResponse"></xs:element>
  <xs:element name="sendBatchMessageTimelyExt" type="sendBatchMessageTimelyExt"></xs:element>
  <xs:complexType name="sendBatchMessageTimelyExt">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sendDateTime" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="destmobile" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="msgText" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="ext" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="userTaskID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sendBatchMessageTimelyExtResponse" type="sendBatchMessageTimelyExtResponse"></xs:element>
  <xs:complexType name="sendBatchMessageTimelyExtResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sendGjBatchMessage" type="sendGjBatchMessage"></xs:element>
  <xs:complexType name="sendGjBatchMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sendDateTime" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="destmobile" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="msgText" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sendGjBatchMessageResponse" type="sendGjBatchMessageResponse"></xs:element>
  <xs:complexType name="sendGjBatchMessageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sendAudio" type="sendAudio"></xs:element>
  <xs:complexType name="sendAudio">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="password" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="sendDateTime" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="destmobile" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="msgText" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="srcMobile" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sendAudioResponse" type="sendAudioResponse"></xs:element>
  <xs:complexType name="sendAudioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sendMmsMessagesResponse">
    <wsdl:part element="tns:sendMmsMessagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBatchMessageTimelyExt">
    <wsdl:part element="tns:sendBatchMessageTimelyExt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReceivedMsg">
    <wsdl:part element="tns:getReceivedMsg" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendAudioResponse">
    <wsdl:part element="tns:sendAudioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBatchMessageTimelyExtResponse">
    <wsdl:part element="tns:sendBatchMessageTimelyExtResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTimelyMessage">
    <wsdl:part element="tns:sendTimelyMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMessageResponse">
    <wsdl:part element="tns:sendMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMmsMessages">
    <wsdl:part element="tns:sendMmsMessages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserInfo">
    <wsdl:part element="tns:getUserInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBatchMessageResponse">
    <wsdl:part element="tns:sendBatchMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateUserResponse">
    <wsdl:part element="tns:validateUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendTimelyMessageResponse">
    <wsdl:part element="tns:sendTimelyMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserInfoResponse">
    <wsdl:part element="tns:getUserInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyPassword">
    <wsdl:part element="tns:modifyPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReceivedMsgResponse">
    <wsdl:part element="tns:getReceivedMsgResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendBatchMessage">
    <wsdl:part element="tns:sendBatchMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPersonalMessages">
    <wsdl:part element="tns:sendPersonalMessages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendGjBatchMessage">
    <wsdl:part element="tns:sendGjBatchMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gxmtResponse">
    <wsdl:part element="tns:gxmtResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendAudio">
    <wsdl:part element="tns:sendAudio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReceipt">
    <wsdl:part element="tns:getReceipt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReceiptResponse">
    <wsdl:part element="tns:getReceiptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendMessage">
    <wsdl:part element="tns:sendMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendGjBatchMessageResponse">
    <wsdl:part element="tns:sendGjBatchMessageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPersonalMessagesResponse">
    <wsdl:part element="tns:sendPersonalMessagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyPasswordResponse">
    <wsdl:part element="tns:modifyPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gxmt">
    <wsdl:part element="tns:gxmt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateUser">
    <wsdl:part element="tns:validateUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BusinessService">
    <wsdl:operation name="getReceivedMsg">
      <wsdl:input message="tns:getReceivedMsg" name="getReceivedMsg">
    </wsdl:input>
      <wsdl:output message="tns:getReceivedMsgResponse" name="getReceivedMsgResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBatchMessageTimelyExt">
      <wsdl:input message="tns:sendBatchMessageTimelyExt" name="sendBatchMessageTimelyExt">
    </wsdl:input>
      <wsdl:output message="tns:sendBatchMessageTimelyExtResponse" name="sendBatchMessageTimelyExtResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPersonalMessages">
      <wsdl:input message="tns:sendPersonalMessages" name="sendPersonalMessages">
    </wsdl:input>
      <wsdl:output message="tns:sendPersonalMessagesResponse" name="sendPersonalMessagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyPassword">
      <wsdl:input message="tns:modifyPassword" name="modifyPassword">
    </wsdl:input>
      <wsdl:output message="tns:modifyPasswordResponse" name="modifyPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceipt">
      <wsdl:input message="tns:getReceipt" name="getReceipt">
    </wsdl:input>
      <wsdl:output message="tns:getReceiptResponse" name="getReceiptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBatchMessage">
      <wsdl:input message="tns:sendBatchMessage" name="sendBatchMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendBatchMessageResponse" name="sendBatchMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendGjBatchMessage">
      <wsdl:input message="tns:sendGjBatchMessage" name="sendGjBatchMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendGjBatchMessageResponse" name="sendGjBatchMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input message="tns:validateUser" name="validateUser">
    </wsdl:input>
      <wsdl:output message="tns:validateUserResponse" name="validateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:sendMessage" name="sendMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendMessageResponse" name="sendMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTimelyMessage">
      <wsdl:input message="tns:sendTimelyMessage" name="sendTimelyMessage">
    </wsdl:input>
      <wsdl:output message="tns:sendTimelyMessageResponse" name="sendTimelyMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMmsMessages">
      <wsdl:input message="tns:sendMmsMessages" name="sendMmsMessages">
    </wsdl:input>
      <wsdl:output message="tns:sendMmsMessagesResponse" name="sendMmsMessagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gxmt">
      <wsdl:input message="tns:gxmt" name="gxmt">
    </wsdl:input>
      <wsdl:output message="tns:gxmtResponse" name="gxmtResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input message="tns:getUserInfo" name="getUserInfo">
    </wsdl:input>
      <wsdl:output message="tns:getUserInfoResponse" name="getUserInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendAudio">
      <wsdl:input message="tns:sendAudio" name="sendAudio">
    </wsdl:input>
      <wsdl:output message="tns:sendAudioResponse" name="sendAudioResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessServiceServiceSoapBinding" type="tns:BusinessService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="getReceivedMsg">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getReceivedMsg">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getReceivedMsgResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBatchMessageTimelyExt">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendBatchMessageTimelyExt">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendBatchMessageTimelyExtResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPersonalMessages">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendPersonalMessages">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendPersonalMessagesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyPassword">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="modifyPassword">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="modifyPasswordResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceipt">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getReceipt">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getReceiptResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendBatchMessage">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendBatchMessage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendBatchMessageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendGjBatchMessage">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendGjBatchMessage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendGjBatchMessageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="validateUser">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="validateUserResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendMessage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendMessageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendTimelyMessage">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendTimelyMessage">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendTimelyMessageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gxmt">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="gxmt">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="gxmtResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMmsMessages">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendMmsMessages">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendMmsMessagesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUserInfo">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUserInfoResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendAudio">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sendAudio">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sendAudioResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessServiceService">
    <wsdl:port binding="tns:BusinessServiceServiceSoapBinding" name="BusinessServicePort">
      <soap:address location="http://www.jianzhou.sh.cn/JianzhouSMSWSServer/services/BusinessService"></soap:address>
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>